<ul class="email-toolbar">



    <li class="dropdown-container">
      <a href="" class="dropdown-trigger"
        ng-click="toggleDropdown($event, 'display')"
        ng-class="{ open: dropdownOpen == 'display' }"
      >
        <span ng-if="!panelVisibility || panelVisibility === 'html'"><i class="fas fa-file-code"></i> {{ t('html') }}</span>
        <span ng-if="panelVisibility === 'plain'"><i class="fas fa-file-alt"></i> {{ t('text') }}</span>
        <span ng-if="panelVisibility === 'attachments'"><i class="fas fa-paperclip"></i> {{ t('attachments') }}</span>
        <span ng-if="panelVisibility === 'headers'"><i class="fas fa-th-list"></i> {{ t('headers') }}</span>
        <span ng-if="panelVisibility === 'source'"><i class="fas fa-code"></i> {{ t('source') }}</span>
      </a>
      <ul class="dropdown-menu">
        <li>
            <a href="" class=""
              ng-click="show('html')"
              ng-class="{ active: panelVisibility == 'html', disabled: !item.html }">
                <span>
                  <i class="fas fa-file-code"></i>
                  {{ t('html') }}
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('plain')"
              ng-class="{ active: panelVisibility == 'plain', disabled: !item.text  }">
                <span>
                  <i class="fas fa-file-alt"></i>
                  {{ t('text') }}
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('attachments')"
              ng-class="{ active: panelVisibility == 'attachments', disabled: !item.attachments }">
                <span>
                  <i class="fas fa-paperclip"></i>
                  {{ t('attachments') }}
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('headers')"
              ng-class="{ active: panelVisibility == 'headers' }">
                <span>
                  <i class="fas fa-th-list"></i>
                  {{ t('headers') }}
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="show('source')"
              ng-class="{ active: panelVisibility == 'source' }">
                <span>
                  <i class="fas fa-code"></i>
                  {{ t('source') }} ({{item.sizeHuman}})
                </span>
            </a>
        </li>
      </ul>
    </li>



    <li class="dropdown-container">
      <a href="" class="dropdown-trigger"
        ng-click="toggleDropdown($event, 'viewport')"
        ng-class="{ open: dropdownOpen == 'viewport', disabled: panelVisibility != 'html' }">
        <!--
        <span ng-if="iframeSize == null"><i class="fas fa-ruler-combined"></i> 100%</span> -->
        <span ng-if="iframeSize == null"><i class="fas fa-desktop"></i> 100%</span>
        <span ng-if="iframeSize == '1440px'"><i class="fas fa-desktop"></i> 1440px</span>
        <span ng-if="iframeSize == '1024px'"><i class="fas fa-tablet-alt"></i> 1024px</span>
        <span ng-if="iframeSize == '768px'"><i class="fas fa-tablet-alt"></i> 768px</span>
        <span ng-if="iframeSize == '425px'"><i class="fas fa-mobile-alt"></i> 425px</span>
        <span ng-if="iframeSize == '375px'"><i class="fas fa-mobile-alt"></i> 375px</span>
        <span ng-if="iframeSize == '320px'"><i class="fas fa-mobile-alt"></i> 320px</span>

      </a>
      <ul class="dropdown-menu">

        <li>
            <a href="" class=""
              ng-click="resize()"
              ng-class="{ active: iframeSize == null }">
                <span>
                  <i class="fas fa-desktop"></i>
                  100%
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('1440px')"
              ng-class="{ active: iframeSize == '1440px' }">
                <span>
                  <i class="fas fa-desktop"></i>
                  1440px
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('1024px')"
              ng-class="{ active: iframeSize == '1024px' }">
                <span>
                  <i class="fas fa-tablet-alt"></i>
                  1024px
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('768px')"
              ng-class="{ active: iframeSize == '768px' }">
                <span>
                  <i class="fas fa-tablet-alt"></i>
                  768px
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('425px')"
              ng-class="{ active: iframeSize == '425px' }">
                <span>
                  <i class="fas fa-mobile-alt"></i>
                  425px
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('375px')"
              ng-class="{ active: iframeSize == '375px' }">
                <span>
                  <i class="fas fa-mobile-alt"></i>
                  375px
                </span>
            </a>
        </li>
        <li>
            <a href="" class=""
              ng-click="resize('320px')"
              ng-class="{ active: iframeSize == '320px' }">
                <span>
                  <i class="fas fa-mobile-alt"></i>
                  320px
                </span>
            </a>
        </li>
      </ul>
    </li>


    <li>
        <a href="email/{{item.id}}/download" class="">
          <span>
            <i class="fas fa-cloud-download-alt"></i>
            {{ t('download') }}
          </span>
        </a>
    </li>




    <li class="dropdown-container">
      <a href="" class="dropdown-trigger"
        ng-click="toggleDropdown($event, 'relay')"
        ng-class="{ open: dropdownOpen == 'relay', disabled: !config.isOutgoingEnabled }"
      >
        <span>
          <i class="fas fa-paper-plane"></i>
          {{ t('relay') }}
        </span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="" class=""
            ng-click="relay(item)"
            ng-class="{ disabled: !config.isOutgoingEnabled }">
              <span>
                <i class="fas fa-paper-plane"></i>
                {{ t('relay') }}
              </span>
          </a>
        </li>
        <li>
          <a href="" class=""
            ng-click="relayTo(item)"
            ng-class="{ disabled: !config.isOutgoingEnabled }">
              <span>
                <i class="fas fa-paper-plane"></i>
                {{ t('relayTo') }}
              </span>
          </a>
        </li>
      </ul>
    </li>



    <li>
      <a href="" class=""
        ng-click="delete(item)"
      >
        <span>
          <i class="fas fa-trash-alt"></i>
          {{ t('delete') }}
        </span>
      </a>
    </li>


</ul>


<div class="email-meta">
  <div class="subject">{{item.subject}}</div>
  <div class="row from">
    <div class="description">{{ t('fromLabel') }}:</div>
    <div class="description-value">
      <app-address ng-repeat="a in item.from" address="a"></app-address>
    </div>
  </div>
  <div class="row to">
    <div class="description">{{ t('toLabel') }}:</div>
    <div class="description-value">
      <app-address ng-repeat="a in item.to" address="a"></app-address>
    </div>
  </div>
  <div ng-if="item.cc.length" class="row cc">
    <div class="description">{{ t('cc') }}:</div>
    <div class="description-value">
      <app-address ng-repeat="a in item.cc" address="a"></app-address>
    </div>
  </div>
  <div ng-if="item.calculatedBcc.length" class="row calculated-bcc">
    <div class="description">{{ t('bcc') }}:</div>
    <div class="description-value">
      <app-address ng-repeat="a in item.calculatedBcc" address="a"></app-address>
    </div>
  </div>
</div>

<div class="quick-attachments-section" ng-if="item.attachments && item.attachments.length">
  <div class="quick-attachments-header">
    <span class="quick-attachments-title">
      <i class="fas fa-paperclip"></i>
      {{ t('attachments') }} ({{item.attachments.length}})
    </span>
  </div>

  <div class="quick-attachments-grid">
    <article class="quick-attachment-card" ng-repeat="attachment in item.attachments">
      <header class="quick-attachment-card-header">
        <strong class="quick-attachment-name">{{attachment.fileName || attachment.generatedFileName}}</strong>
        <a
          target="_blank"
          ng-href="{{ getAttachmentUrl(attachment) }}"
          class="quick-attachment-open-link">
          {{ t('open') }}
        </a>
      </header>
    </article>
  </div>
</div>









<div class="email-content">

    <div class="email-content-view email-content-view-html" ng-hide="panelVisibility != 'html'">
      <iframe ng-src="{{ item.iframeUrl }}" class="preview-iframe panel-html"></iframe>
    </div>

    <div class="email-content-view email-content-view-plain" ng-hide="panelVisibility != 'plain'">
      <div class="plain-text panel-plain" ng-bind-html=" item.text|escapeHTML"></div>
    </div>

    <div class="email-content-view email-content-view-attachments" ng-hide="panelVisibility != 'attachments'">
      <div class="panel-attachments" >
          <div class="attachments-grid" ng-if="item.attachments && item.attachments.length">
            <article class="attachment-card" ng-repeat="attachment in item.attachments">
              <header class="attachment-card-header">
                <strong class="attachment-name">{{attachment.fileName || attachment.generatedFileName}}</strong>
                <a
                  target="_blank"
                  ng-href="{{ getAttachmentUrl(attachment) }}"
                  class="attachment-open-link">
                  {{ t('open') }}
                </a>
              </header>

              <div class="attachment-preview" ng-if="isImageAttachment(attachment)">
                <img
                  ng-src="{{ getAttachmentUrl(attachment) }}"
                  alt="{{attachment.fileName || attachment.generatedFileName}}"
                  class="attachment-image-preview"
                >
              </div>

              <div class="attachment-preview attachment-preview-pdf" ng-if="!isImageAttachment(attachment) && isPdfAttachment(attachment)">
                <iframe
                  ng-src="{{ getAttachmentUrl(attachment) }}"
                  title="{{attachment.fileName || attachment.generatedFileName}}"
                  class="attachment-pdf-preview">
                </iframe>
              </div>

              <div class="attachment-fallback" ng-if="!isImageAttachment(attachment) && !isPdfAttachment(attachment)">
                <i class="fas fa-file"></i>
                <span>{{ t('noPreview') }}</span>
              </div>
            </article>
          </div>

          <div class="attachments-empty" ng-if="!item.attachments || !item.attachments.length">
            {{ t('noAttachments') }}
          </div>
      </div>
    </div>

    <div class="email-content-view email-content-view-headers" ng-hide="panelVisibility != 'headers'">
      <div class="panel-headers" >
          <table class="table">
              <!--
              <thead>
                  <tr>
                      <th>Key</th>
                      <th>Value</th>
                  </tr>
              </thead>
              -->
              <tr ng-repeat="(headerKey, headerValue) in item.headers">
                  <td class="span3">
                      <strong>{{headerKey}}</strong>
                  </td>
                  <td>
                      {{headerValue}}
                  </td>
              </tr>
          </table>
      </div>
    </div>

    <div class="email-content-view email-content-view-source" ng-hide="panelVisibility != 'source'">
      <iframe ng-src="{{ rawEmail }}" class="preview-iframe panel-source" ></iframe>
    </div>

</div>
